.background {
  background-image: url('./Component/LoginBackground.jfif');
  background-position: 0 0 0 0;
}

.content {
  margin-top: 70px;
  max-width: 450px;
  padding: 30px 50px;
  background-color: #fff;
  box-shadow: -30px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

@media (max-width: 767px) {
  .content {
    padding: 3vh;
  }
}
.img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  background-image: url('./Component/PersonCircle.png');
  background-size: contain;
}

.formControl {
  padding: 30px;
  border-top: 5px solid #f8f5ea;
}

@media (max-width: 767px) {
  .formControl {
    padding: 10px 0 0 0;
  }
}

.form {
  max-width: 300px;
}

.loginBtn {
  display: inline-block;
  width: 200px;
  height: 40px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}