.textArea {
  h3 {
    font-size: 1.6rem;
  }
  p {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  span {
    font-size: 1.4rem;
  }
  h4 {
    font-weight: 700;
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .productSpec {
    font-size: 0.9rem;
    border: 2px solid rgb(166, 155, 132);
  }
}
.subTitle {
  font-size: 32px;
}
