.ticketContent {
  background-image: url(../../../Img/Coupon/coupon-card-bg3.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  h3 {
    font-size: 25px;
    font-weight: 700;
  }
  h5 {
    font-size: 18px;
    font-weight: 700;
  }
}
