.messageContent {
  border: 1px solid #eeeeee;
  h3 {
    font-size: 20px;
    font-weight: 700;
  }
}
.messageAll {
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 16px;
  }
  span {
    font-size: 12px;
  }
  h2 {
    font-size: 14px;
  }
}
.messageIcon {
  width: 100px;
  height: 100px;
}
