.ticketContent {
  background-image: url(../../../../Img/Coupon/coupon-card-bg2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  h3 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
  }
  h5 {
    font-size: 16px;
    font-weight: 700;
  }
}
